@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rubik+Spray+Paint&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: "Rubik";
  background-color: black;
  color: #f5f5f5;
  overflow-x: hidden;
}

a,
li,
ul {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1330px;
}
.container > .main_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
}
.container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #f5f5f5;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.logo_text {
  color: #f5f5f5;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
.nav_item-a {
  color: #f5f5f5;
}
.nav_item a:hover, .nav_item a:focus {
  color: #f0d800;
}

.header {
  padding-top: 16px;
}
.header_button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}
.header_button {
  width: 120px;
  height: 50px;
  color: #f5f5f5;
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 100px;
}
.header_button:focus, .header_button:hover {
  border: 2px solid #f0d800;
  color: #f0d800;
}

.hero {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f5f5;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}
.hero_text {
  font-size: 80px;
  font-weight: 400;
  margin: 0;
}
.hero_line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}
.hero_line-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero_line-text {
  font-size: 34px;
  text-wrap: nowrap;
}
.hero_line-img {
  width: 32px;
  height: 32px;
}
.hero_lil-text {
  max-width: 225px;
  font-size: 14px;
  font-weight: 400;
}
.hero_pop-text {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0d800;
  padding: 10px;
  border-radius: 50px;
  color: #010101;
  font-weight: 600;
}
.hero_text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f5f5f5;
}
.hero_supporters {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 180px;
}

.text-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.creators_line {
  -webkit-transform: rotate(-1.7deg);
          transform: rotate(-1.7deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f0d800;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.creators_line-box {
  gap: 12px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #010101;
}
.creators_line-img {
  width: 32px;
  height: 32px;
}