body {
  font-family: "Rubik";
  background-color: black;
  color: $white;
  overflow-x: hidden;
}

a,
li,
ul {
  list-style: none;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
