.container {
  margin: 0 auto;
  max-width: 1330px;

  & > .main_img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid $white;
  }
}
