.creators {
  padding-top: 203px;
  &_title {
    font-size: 24px;
    font-weight: 600;
    color: $yellow;
  }
  &_box {
    margin-bottom: 192px;
  }
  &_p {
    margin-top: 16px;
    max-width: 1168px;
    font-size: 80px;
    font-weight: 400;
  }
  &_button {
    margin-top: 40px;
    padding: 17px 34px;
    border-radius: 100px;
    background-color: $yellow;
    border: 0px solid transparent;
    cursor: pointer;
  }
}
.creators_line {
  transform: rotate(-1.7deg);
  display: flex;
  flex-direction: row;
  background-color: $yellow;
  justify-content: space-between;
  width: 110%;
  &-box {
    gap: 12px;
    padding: 12px;
    display: flex;
    font-size: 34px;
    align-items: center;
    color: $black;
  }
  &-img {
    width: 32px;
    height: 32px;
  }
}
