.hero {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  color: $white;
  padding-bottom: 50px;
  border-bottom: 1px solid white;

  &_text {
    font-size: 80px;
    font-weight: 400;
    margin: 0;
  }
  &_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;

    &-box {
      display: flex;
      flex-direction: row;
      gap: 13px;
      align-items: center;
    }
    &-text {
      font-size: 34px;
      text-wrap: nowrap;
    }
    &-img {
      width: 32px;
      height: 32px;
    }
  }

  &_lil-text {
    max-width: 225px;
    font-size: 14px;
    font-weight: 400;
  }

  &_pop-text {
    border: 0 solid transparent;
    box-sizing: border-box;
    background-color: $yellow;
    padding: 10px;
    border-radius: 50px;
    color: $black;
    font-weight: 600;
  }

  &_text_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $white;
  }

  &_supporters {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
  }
}

.text-box1 {
  display: flex;
  align-items: flex-start;
}
